.wrapper {
    width: 260px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid rgb(208, 208, 208);
    padding: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    position: fixed;
}

.link {
    width: 100%;
    padding: 10px 10px 10px 20px;
    display: flex;
    grid-gap: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.15s linear;
    font-size: 16px;
}

.link:hover {
    background: rgb(238, 238, 238);
}

.active {
    font-weight: 700;
    background: rgb(238, 238, 238);
}

.link:last-child {
    margin-top: 70px;
}

.wrapper>img {
    margin-top: -25px;
    margin-bottom: -25px;
}